<div class="mt-4"></div>
  <h2>My Statement</h2>
  
  </br>

  <div class="float-left">
  ***Format Date: 2020-20-20
  </div>
  <form action="" method="post">
  <%= csrf_meta_tags %>
    <div class="form-group row float-right">
      <label>Start Date</label>&nbsp;&nbsp;
      <input type="text" name="date_stt" class="form-control col-sm-3"/>
      &nbsp;
      <label>Final Date</label>&nbsp;&nbsp;
      <input type="text" name="date_end" class="form-control  col-sm-3"/>&nbsp;
      <input type="submit" class="btn btn-primary col-sm-1.5">
    </div>
    
  </form>

    </br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User</th>
          <th>Account number</th>
          <th>Agency number</th>
          <th>Type Account</th>
          <th>Value</th>
          <th>Account Whither</th>
          <th>Rate</th>
          <th>Created at</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% if @records  %>
        <% @records.each do |record| %>
          <tr>
            <td><%= record.user_id %></td>
            <td><%= record.account.account_number %></td>
            <td><%= record.account.agency_number %></td>
            <td><%= record.operation %></td>
            <td><%= record.value %></td>
            <td><%= record.account_whither %></td>
            <td><%= record.rate %></td>
            <td><%= record.created_at %></td>
            
          </tr>
        <% end %>
        <% else %>
          <tr>
            <td colspan="10">No account found...</td>
          </tr>
        <% end %>
      </tbody>
    </table>
      


    </br></br></br></br>Deposit
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User</th>
          <th>Account number</th>
          <th>Agency number</th>
          <th>Type Account</th>
          <th>Value</th>
          <th>Account Whither</th>
          <th>Rate</th>
          <th>Created at</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% if @querys  %>
        <% @querys.each do |query| %>
          <tr>
            <td><%= query.account.user_id %></td>
            <td><%= query.account.account_number %></td>
            <td><%= query.account.agency_number %></td>
            <td>Deposit</td>
            <td><%= query.value %></td>
            <td><%= query.account_number %></td>
            <td>--</td>
            <td><%= query.created_at %></td>
            
          </tr>
        <% end %>
        <% else %>
          <tr>
            <td colspan="10">No account found...</td>
          </tr>
        <% end %>
      </tbody>
    </table>
<br>


